body {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

header {
    width: 90%;
    margin-left: 5%;
    position: relative;
    height: 50px;
}

header #title_space {
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

header #menu {
    width: 90%;
    margin-left: 5%;
}

header #menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #333;
    width: 100%;
}

header #menu ul li {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    float: left;
    text-align: center;
    width: 25%;
    padding: 5px 0;
    font-size: 18px;
}

header #menu ul li:hover {
    background-color: #555;
    border-bottom: 5px solid green;
    transition-duration: .2s;
}

main {
    position: absolute;
    top: 25%;
    line-height: 1.5;
    width: 60%;
    margin: 10px 20%;
    visibility: hidden;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    border-radius: 15px;
    background-color: #ccc;
    padding: 0 15px 15px 15px;
}

main h1 {
    font-size: 32px;
    margin: 0;
}

main input {
    background-color: #555;
    color: #fff;
    margin: 5px 0;
}

main input:hover {
    background-color: #333;
}

main button {
    cursor: pointer;
    border-radius: 5px;
    width: 50%;
    margin-left: 25%;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 0;
}

main button:hover {
    border-bottom: green solid 5px;
    background-color: #555;
    transition-duration: .2s;
}

#Income_Page {
    visibility: visible;
}

@media screen and (max-width: 900px) {
    header {
        width: 100%;
        margin: 0;
        position: relative;
    }
    
    header #title_space {
        width: 100%;
        margin: 0;
    }

    header #menu {
        width: 100%;
        margin: 0;
    }

    header #menu ul li {
        width: 100%;
    }

    header #menu ul li:hover {
        border: none;
    }

    main {
        width: 100%;
        margin: 10px 0px;
        border-radius: 0px;
    }

    main button:hover {
        border: none;
    }
}